<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="stylesheet" href="https://use.typekit.net/yaq6zll.css">
  </head>
  <body>

    <nav>
      <div class="nav-container">
        <div class="logo"><a>Space</a></div>
        <a href="./">Home</a>
        <a href="./stars">Stars</a>
        <a href="./planets">Planets</a>
        <a href="./galaxies">Galaxies</a>
        <a href="./meteorites">Meteorites</a>
      </div>
    </nav>


    <h1>4040 error</h1>
  </body>
</html>
