<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="https://use.typekit.net/yaq6zll.css" />
  </head>
  <body>
    <nav>
    <div class="nav-container">
      <div class="logo">Space</div>
      <a href="./">Home</a>
      <a href="../stars">Stars</a>
      <a href="../moons">Moons</a>
      <a href="../planets">Planets</a>
      <a href="../galaxies">Galaxies</a>
     
    </div>
  
  </nav>
  <section class="hero">
    <div class="hero-text">
      <h1 style="font-family: 'Courier New', Courier, monospace;">Explore the Universe</h1>
    <p>Discover stars, planets, galaxies, and the mysteries of space.</p>
    </div>
  </section>


  <section class="categories">
    
<a href="../stars" class="category-link">
    <div class="category-card">
   <img src="../media/start_home1.png" alt="Stars">
      <h3>Stars</h3>
    </div>
</a>

<a href="../moons" class="category-link"> 
    <div class="category-card">
        <img src="../media/moon_home.png" alt="Moon">
   <h3>Moons</h3>
    </div>
</a>

<a href="../planets" class="category-link">
    <div class="category-card">
  <img src="../media/planet_home.png" alt="Planets">
     <h3>Planets</h3>
    </div>
</a>

<a href="../galaxies" class="category-link">
    <div class="category-card">
      <img src="/../media/galaxy_home.png" alt="Galaxies">
      <h3>Galaxies</h3>
    </div></a>
    
  </section>

  <section class="context">
    <div class="intro-grid">
   <div class="intro-text">
    <h2 style="font-family: 'Courier New', Courier, monospace;">Understanding the Universe</h2>
     <p>The Universe is the totality of space, time, matter, and energy.   It is expanding continuously, with galaxies moving apart from each other 
   due to cosmic inflation. Studying the Universe helps us answer fundamental questions about the origins of space, time, and life itself.</p>
        <p class="source">Source: <a href="https://science.nasa.gov/" target="_blank">NASA Science</a></p>
      </div>
      <div class="intro-image">
        <img src="../media/space_home.jpeg" >
      </div>
    </div>
  
    
    <div class="intro-extra-text">
      <p>The observable Universe stretches for about 93 billion light-years in diameter, 
         but it could be infinitely larger beyond what we can detect. 
         It contains an estimated two trillion galaxies, each with billions or trillions of stars.</p>
  
      <p>Through telescopes and space missions, scientists study cosmic phenomena such as 
         black holes, neutron stars, and dark matter. These explorations not only enhance 
         our understanding of physics but also inspire new technologies and deepen humanity’s 
         curiosity about existence beyond Earth.</p>
  
      <p>As we continue to explore the universe, each discovery brings us closer to answering 
         the most profound questions: Where did we come from? Are we alone? What is the future of our Universe?</p>
    </div>
  </section>

  <section class="context">
    <div class="fun-facts">
      <h2  style="font-family: 'Courier New', Courier, monospace;">Fun Facts About Space</h2>
  
      <div class="facts-grid">
        <div class="fact-card">
          <img src="../media/black.jpeg"  />
          <h3  style="font-family: 'Courier New', Courier, monospace;">Black holes can “sing.”</h3>
          <p style="font-family: 'Futura-PT', sans-serif;">Black holes can “sing” by emitting sound waves, but their pitch is so low that humans can’t hear them. While sound 
            can’t travel through the empty space between us and a black hole, scientists can detect these waves using X-ray observations, allowing us to “see” their eerie cosmic tunes. This is one of the most fun facts about space!</p>
        </div>
  
     <div class="fact-card">
          <img src="../media/neptune.jpeg"  />
          <h3  style="font-family: 'Courier New', Courier, monospace;"> It rains diamonds on Neptune and Uranus</h3>
          <p>It rains diamonds on Neptune and Uranus, the “ice giants” of our solar system! The intense heat and pressure on these planets can turn carbon into diamonds, creating a sparkling shower from the sky.</p>
        </div>
  
   <div class="fact-card">
          <img src="../media/venus.jpeg" alt="Venus day" />
            <h3  style="font-family: 'Courier New', Courier, monospace;">Venus Has Longer Days Than Years</h3>
          <p>Venus rotates so slowly that a day on Venus is longer than its year. It takes about 243 Earth days to rotate once!</p>
        </div>
  
       <div class="fact-card">
          <img src="../media/astro.jpeg"  />
          <h3  style="font-family: 'Courier New', Courier, monospace;">Astronauts don’t eat bread in space</h3>
          <p>Astronauts on the International Space Station don’t eat bread because the crumbs would float everywhere and possibly damage equipment. Instead, they use tortillas—no crumbs, no mess, just space-friendly sandwiches!</p>
        </div>
  
      <div class="fact-card">
          <img src="../media/footprint.jpeg" alt="Footprints on Moon" />
          <h3  style="font-family: 'Courier New', Courier, monospace;">Footprints on the Moon Last Forever</h3>
          <p>Because there’s no atmosphere, weather, or wind, the footprints left by astronauts on the Moon could remain for millions of years.</p>
        </div>
  
     <div class="fact-card">
          <img src="../media/space.jpeg" alt="Space smell" />
          <h3 style="font-family: 'Courier New', Courier, monospace;">Space Has a Smell</h3>
          <p>Astronauts have reported that space smells like seared steak, welding fumes, and hot metal after returning from spacewalks!</p>
        </div>

   <div class="fact-card">
          <img src="../media/star.jpeg"  />
          <h3 style="font-family: 'Courier New', Courier, monospace;">The hottest stars are blue</h3>
          <p>I t might sound surprising, but blue stars are the hottest, while red stars, even though they’re still really hot, aren’t as hot as blue ones.</p>
        </div>

        <div class="fact-card">
          <img src="../media/pluto.jpeg"  />
          <h3 style="font-family: 'Courier New', Courier, monospace;">There’s a heart-shaped glacier on Pluto</h3>
          <p>A giant glacier in the shape of a heart covers part of Pluto, making it one of the coldest places in the solar system.</p>
        </div>

      </div>
  
      
      <div class="quiz-button">
        <a href="" class="btn-quiz">Take a Quiz!</a>
      </div>
    </div>
  </section>

  <section class="context">
  <div class="intro-grid reverse">
      <div class="intro-image">
   <img src="../media/space_explo.jpeg" alt="Space Exploration" style="max-height: 295px;;">
      </div>
      <div class="intro-text" ">
        <h2>Space Exploration</h2>
    <p>Space exploration is the investigation of physical conditions in space and on stars, planets, and other celestial bodies through the use of artificial satellites, space probes, and spacecraft with human crews.</p>
    <p>It involves the development of space technology, the launching of spacecraft into orbit or beyond, and missions aimed at discovering more about the cosmos and expanding the frontiers of human knowledge and presence beyond Earth.</p>
       <p class="source">Source: <a href="https://www.britannica.com/science/space-exploration" target="_blank">Britannica - Space Exploration</a></p>
      </div>
    </div>
  
    <div class="intro-extra-text">
      <p>Space exploration began with the Soviet Union’s launch of Sputnik 1 in 1957, marking humanity's first venture beyond Earth's atmosphere. Following that milestone, human spaceflight accelerated with missions like Vostok 1, which carried the first human, Yuri Gagarin, into orbit in 1961.</p>
    <p>The Apollo program, developed by the United States, led to the first humans walking on the Moon in 1969. The success of Apollo 11, with astronauts Neil Armstrong and Buzz Aldrin, became a defining achievement for all humanity and demonstrated the possibilities of human ingenuity and ambition.</p>
    <p>Since then, space exploration has expanded to include unmanned missions to planets like Mars, Venus, and Jupiter. Robotic spacecraft such as the Mars Rovers (Spirit, Opportunity, Curiosity, and Perseverance) have provided detailed insights into the surface of Mars and the possibility of life beyond Earth.</p>
     <p>The establishment of space stations, such as the International Space Station (ISS), has allowed humans to live and work in space for extended periods. The ISS serves as a platform for scientific research in microgravity and for preparing future missions to the Moon, Mars, and beyond.</p>
      <p>Today, private companies like SpaceX, Blue Origin, and others are revolutionizing spaceflight by developing reusable rockets, enabling more frequent and affordable access to space. Goals for the future include establishing a permanent human presence on the Moon, sending crewed missions to Mars, and exploring deep space with advanced probes and telescopes.</p>
  <p>Space exploration not only expands our scientific understanding but also fosters international cooperation, inspires technological innovation, and satisfies humanity’s innate curiosity about the universe and our place within it.</p>
      <p>As exploration continues, humanity faces both technological challenges and ethical questions regarding the use of extraterrestrial resources, planetary protection, and the long-term impact of human activity beyond Earth.</p>
    </div>
   
    
  </section>
  

  <section class="context">
    <div class="danger-section" >
      <h2>What Are the Dangers of Going to Space?</h2>
      
      <div class="video-container">
        <iframe width="100%" height="500" 
          src="https://www.youtube.com/embed/ryHNj_SLwlE?start=28" 
          title="What Are the Dangers of Going to Space?" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </section>

  <section class="context">
     <div class="explore-more" style="margin-top: -70px;">
      <h2>Explore More</h2>
      
      <div class="explore-grid" >

        <a href="../planets" class="category-link"> 
     <div class="explore-card">
      <img src="../media/solar_home.jpeg" >
          <h3>The Solar System</h3>
          <p>Discover the planets and other celestial objects orbiting our Sun.</p>
        </div>
  </a>

  <a href="../stars" class="category-link"> 
        <div class="explore-card">
          <img src="../media/star_explore.jpeg" >
      <h3>What are Stars?</h3>
    <p>A star is a bright sphere of plasma held together by it's own gravity.</p>
        </div>
  </a>
 <a href="../galaxies" class="category-link"> 
        <div class="explore-card">
          <img src="../media/spiral.jpeg" >
      <h3>Fun Facts About Galaxies</h3>
          <p>There are over 2 trillion galaxies in the observable universe!</p>
        </div>
</a>

      </div>


    </div>
  </section>
  
  
    <footer class="footer">
    Space Copyright © 2025. All rights reserved. Team Tiramisu
  </footer>
  </body>
  
</html>