<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="https://use.typekit.net/yaq6zll.css" />
  </head>
  <body>
    <nav>
    <div class="nav-container">
      <div class="logo">Space</div>
      <a href="./">Home</a>
      <a href="../stars">Stars</a>
      <a href="../moons">Moons</a>
      <a href="../planets">Planets</a>
      <a href="../galaxies">Galaxies</a>
     
    </div>
  
  </nav>
  <section class="hero">
    <div class="hero-text">
      <h1 style="font-family: 'Courier New', Courier, monospace;">Explore the Universe</h1>
    <p>Discover stars, planets, galaxies, and the mysteries of space.</p>
    </div>
  </section>


  <section class="categories">
    
    <a href="../stars" class="category-link">
    <div class="category-card">
      <img src="../media/start_home1.png" alt="Stars">
      <h3>Stars</h3>
    </div>
</a>

<a href="../moons" class="category-link"> 
    <div class="category-card">
      <img src="../media/moon_home.png" alt="Moon">
      <h3>Moons</h3>
    </div>
</a>

<a href="../planets" class="category-link">
    <div class="category-card">
      <img src="../media/planet_home.png" alt="Planets">
      <h3>Planets</h3>
    </div>
</a>

<a href="../galaxies" class="category-link">
    <div class="category-card">
      <img src="/../media/galaxy_home.png" alt="Galaxies">
      <h3>Galaxies</h3>
    </div></a>
    
  </section>

  <section class="context">
    <div class="intro-grid">
      <div class="intro-text">
        <h2 style="font-family: 'Courier New', Courier, monospace;">Understanding the Universe</h2>
        <p>The Universe is the totality of space, time, matter, and energy. 
           It is expanding continuously, with galaxies moving apart from each other 
           due to cosmic inflation. Studying the Universe helps us answer fundamental 
           questions about the origins of space, time, and life itself.</p>
        <p class="source">Source: <a href="https://science.nasa.gov/" target="_blank">NASA Science</a></p>
      </div>
      <div class="intro-image">
        <img src="../media/space_home.jpeg" >
      </div>
    </div>
  
    
    <div class="intro-extra-text">
      <p>The observable Universe stretches for about 93 billion light-years in diameter, 
         but it could be infinitely larger beyond what we can detect. 
         It contains an estimated two trillion galaxies, each with billions or trillions of stars.</p>
  
      <p>Through telescopes and space missions, scientists study cosmic phenomena such as 
         black holes, neutron stars, and dark matter. These explorations not only enhance 
         our understanding of physics but also inspire new technologies and deepen humanity’s 
         curiosity about existence beyond Earth.</p>
  
      <p>As we continue to explore the universe, each discovery brings us closer to answering 
         the most profound questions: Where did we come from? Are we alone? What is the future of our Universe?</p>
    </div>
  </section>
  
    <h1>home</h1>
  </body>
</html>