<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="https://use.typekit.net/yaq6zll.css" />
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <div class="logo">Space</div>
        <a href="../">Home</a>
        <a href="../stars">Stars</a>
        <a href="../moons">Moons</a>
        <a href="../planets">Planets</a>
        <a href="../galaxies">Galaxies</a>
      </div>
    </nav>
    <main class="starsMain">
      <h1>Stars</h1>
      <h3>What are Stars?</h3>
      <p>
        A star is a bright sphere of plasma held together by it's own gravity.
        Many stars are visible in the night sky and they are even categorized
        into different<span><a>constellations and asterisms.</a></span> Many of
        the brightest stars today have names and the observable universe has
        anywhere between 10^22 to 10^24 stars. Only about 4000 stars are visible
        to us at night without any magnification.
      </p>
      <h3>Observations about Stars</h3>
      <p>
        Stars have been important to civilizations throughout the world. They
        have been part of religious practices, divination rituals, mythology,
        used for celestial navigation and orientation, to mark the passage of
        seasons, and to define calendars.
      </p>
      <p>
        Early astronomers recognized a difference between "fixed stars", whose
        position on the celestial sphere does not change, and "wandering stars"
        (planets), which move noticeably relative to the fixed stars over days
        or weeks. Many ancient astronomers believed that the stars were
        permanently affixed to a heavenly sphere and that they were immutable.
        By convention, astronomers grouped prominent stars into asterisms and
        constellations and used them to track the motions of the planets and the
        inferred position of the Sun.
      </p>
      <p>
        The oldest accurately dated star chart was the result of ancient
        Egyptian astronomy in 1534 BC. The earliest known star catalogues were
        compiled by the ancient Babylonian astronomers of Mesopotamia in the
        late 2nd millennium BC, during the Kassite Period (c. 1531 BC – c. 1155
        BC).
      </p>
      <img
        src="../media/Star_life_cycles_red_dwarf_en.png"
        alt="Life Cycle of Stars"
      />
      <h3>Fun Fact</h3>
      <p>
        The spin axis of the Earth undergoes a motion called precession. If you
        have ever watched a spinning top, you know that its spin axis tends to
        stay pointed in the same direction. However, if you give it a slight
        nudge, the axis will start to change its direction, and its motion
        traces out a cone. This changing of direction of the spin axis is called
        precession. So what gave the Earth the "nudge" it needed to start
        precessing? The Earth bulges out at its equator, and the gravitational
        attraction of the Moon and Sun on the bulge provided the "nudge" which
        made the Earth precess. It was the ancient Greek astronomer and
        mathematician Hipparchus who first estimated the precession of the
        Earth's axis around 130 B.C. The period of precession is about 26,000
        years. In other words, it takes 26,000 years for the axis to trace out
        the cone one complete time.
      </p>
      <p>
        So now you can see why Polaris will not always be aligned with the north
        spin axis of the Earth - because that axis is slowly changing the
        direction in which it points! Right now, the Earth's rotation axis
        happens to be pointing almost exactly at Polaris. But in the year 3000
        B.C., the North Star was a star called Thuban (also known as Alpha
        Draconis), and in about 13,000 years from now the precession of the
        rotation axis will mean that the bright star Vega will be the North
        Star. Don't feel bad for Polaris, however, because in 26,000 more years
        it will once again be the Pole Star!
      </p>
      <button class="star-button">
        <a href="../asterisms/">Read More about Asterisms</a>
      </button>
    </main>
    <footer class="footer">
      Space Copyright © 2025. All rights reserved. Team Tiramisu
    </footer>
  </body>
</html>
