* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

:root {
  --accent-color: #6c9edc;
  --primary-color: #111a26;
  --secondary-color: #444e63;
  --background-color: #070738;
  --text-color: #fff;
}

nav {
  height: 80px;
  background-color: var(--background-color);
}
nav {
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  z-index: 1000;
  min-height: 80px;
}

.nav-container {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px; /* opcional para limitar en pantallas grandes */
  margin: 0 auto; /* para centrar */
}

.nav-container a,
.nav-container .logo {
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 6px 10px;
  border: 1.5px solid transparent;
  transition: all 0.3s ease;
  font-family: "Courier New", Courier, monospace;
}

.nav-container a:hover,
.nav-container .logo:hover {
  color: #6c9edc;
  border-color: #6c9edc;
}

.logo {
  font-size: 25px;
  font-weight: 800;
  pointer-events: none;
}
