* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}
/* general styles */

/*  global hover style for buttons 

:hover {
  color: #6c9edc;
  border-color: #6c9edc; 
  
  */
body {
  background-color: black;
}
:root {
  --accent-color: #6c9edc;
  --primary-color: #111a26;
  --secondary-color: #444e63;
  --background-color: #000000;
  --text-color: #fff;
}

p {
  font-family: "Futura-PT", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Courier New", Courier, monospace;
}
/* end general styles*/
.error {
  text-align: center;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  margin-top: 24%;
  margin-bottom: 20%;
}

.error h1 {
  text-align: center;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
}
/* Nav bar */
nav {
  height: 80px;
  background-color: var(--background-color);
}
nav {
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  z-index: 1000;
  min-height: 80px;
}

.nav-container {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-container a,
.nav-container .logo {
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 6px 10px;
  border: 1.5px solid transparent;
  transition: all 0.3s ease;
  font-family: "Courier New", Courier, monospace;
}

.nav-container a:hover,
.nav-container .logo:hover {
  color: #6c9edc;
  border-color: #6c9edc;
}

.logo {
  font-size: 25px;
  font-weight: 800;
  pointer-events: none;
}
/* home*/
.hero {
  background: url("../media/home.png") no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.hero-text {
  position: relative;
  z-index: 1;
  font-family: "Futura-PT", sans-serif;
  font-weight: 300;
}

.hero-text h1 {
  font-size: 48px;
  margin: 0 0 20px 0;
  font-weight: 300;
}

.hero-text p {
  font-size: 17px;
  max-width: 600px;
  margin: 0 auto;
  font-family: "Futura-PT", sans-serif;
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 60px 20px;
  background-color: black;
}

.category-card {
  background-color: #111a26;
  width: 220px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  transition: transform 0.3s ease;
}

.category-card:hover {
  transform: translateY(-10px);
}

.category-card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 15px;
}

.category-card h3 {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}

.category-link {
  text-decoration: none;
}
.intro-extra-text {
  margin-top: 40px;
}

.intro-extra-text p {
  color: white;
  font-size: 18px;
  font-family: "Futura-PT", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 20px;
}

.context {
  padding: 40px 20px;

  max-width: 1200px;
  margin: 0 auto;
}

.intro-grid {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.intro-text {
  flex: 1;
}

.intro-text h2 {
  color: white;
  font-size: 36px;
  font-family: "Futura-PT", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}

.intro-text p {
  color: white;
  font-size: 18px;
  font-family: "Futura-PT", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 15px;
}

.source {
  font-size: 14px;
  color: #6c9edc;
}

.source a {
  color: #6c9edc;
  text-decoration: none;
}

.intro-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.intro-image img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.fun-facts h2 {
  color: white;
  font-size: 36px;
  font-family: "Futura-PT", sans-serif;
  font-weight: 300;
  margin-bottom: 40px;
}

.facts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;

  justify-content: space-between;
}

.fact-card {
  background-color: #111a26;

  padding: 20px;
  width: 280px;

  color: white;
  font-family: "Futura-PT", sans-serif;
  transition: transform 0.3s ease;
}

.fact-card:hover {
  transform: translateY(-10px);
}

.fact-card img {
  width: 100%;

  height: 160px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  margin-bottom: 15px;
}

.fact-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  color: #444e63;
}

.fact-card p {
  font-size: 16px;

  font-family: "Futura-PT", sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

.quiz-button {
  text-align: left;
  margin-top: 50px;
}

.btn-quiz {
  display: inline-block;
  background-color: #6c9edc;

  color: white;
  padding: 12px 24px;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;

  text-decoration: none;
  border: 1.5px solid transparent;
  transition: background-color 0.3s ease;
}

.btn-quiz:hover {
  background-color: #000000;

  color: #6c9edc;
  border-color: #6c9edc;
  border: 1.5px solid transparent;
}

.danger-section h2 {
  color: white;

  font-size: 36px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;

  margin-bottom: 30px;
}

.video-container {
  position: relative;
  width: 100%;

  padding-bottom: 56.25%;

  height: 0;
  overflow: hidden;
  border-radius: 8px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;

  border: none;
}

.explore-more h2 {
  color: white;
  font-size: 36px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  margin-bottom: 40px;
}

.explore-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.explore-card {
  width: 350px;

  overflow: hidden;
  transition: transform 0.3s ease;
}

.explore-card:hover {
  transform: translateY(-10px);
}

.explore-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.explore-card h3 {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;

  font-size: 20px;
  margin: 15px 10px 10px 10px;
}

.explore-card p {
  color: white;
  font-family: "Futura-PT", sans-serif;
  font-weight: 300;

  font-size: 16px;
  margin: 0 10px 20px 10px;
}

/* footer */
.footer {
  width: 100%;
  background-color: #444e63;
  color: white;
  text-align: center;
  padding: 14px 0;

  font-family: "Courier New", Courier, monospace;

  font-weight: 300;
  font-size: 12px;
  position: relative;
}

/* end footer */

/* planets page */
.planets-hero {
  background: url("../media/planets.jpeg") no-repeat center center/cover;
  height: 60vh;
  width: 100%;

  display: flex;

  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.planets-hero h1 {
  color: white;
  font-size: 60px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;

  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.intro-planets h2 {
  color: white;
  font-size: 36px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;

  margin-bottom: 20px;
  /*text-align: center; */
}

.intro-planets p,
.intro-planets ul {
  color: white;
  font-size: 15px;
  font-family: "Futura-PT", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 15px;
}

.intro-planets ul {
  padding-left: 20px;
}
.intro-planets ul li {
  margin-bottom: 10px;
}

.intro-grid-solar {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.intro-solar {
  flex: 1;
}

.intro-solar h2 {
  color: white;

  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 36px;
}

.intro-solar p {
  color: white;

  font-family: "Futura-PT", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 15px;
  font-size: 15px;
}

.intro-img {
  flex: 1;
  display: flex;
  justify-content: center;
}

.intro-img img {
  width: 100%;

  max-height: 290px;

  object-fit: cover;
}

.intro-extra-solar {
  margin-top: 40px;
  color: #fff;
  font-family: "Futura-PT", sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

.intro-extra-solar h3 {
  color: white;
  font-size: 28px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;

  margin-top: 40px;
  margin-bottom: 20px;
}
.intro-extra-solar h4 {
  color: #444e63;
}

.planets-section h2 {
  color: white;
  font-size: 36px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  margin-bottom: 40px;
  text-align: center;
}
.planets-section p {
  color: #fff;
  font-family: "Futura-PT", sans-serif;
  font-weight: 300;
  margin-bottom: 50px;
}

.planets-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.planet-card {
  padding: 20px;
  width: 260px;
  background-color: #111a26;

  text-align: center;
  color: white;
  font-family: "Futura-PT", sans-serif;
  font-weight: 300;

  transition: transform 0.3s ease;
}

.planet-card:hover {
  transform: translateY(-10px);
}

.planet-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;

  margin-bottom: 15px;
}

.planet-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  color: #444e63;
}

.planet-card p {
  font-size: 15px;
  line-height: 1.4;
  font-family: "Futura-PT", sans-serif;
  font-weight: 300;
}

#planet-form {
  display: flex;

  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.table-p {
  color: #fff;
  font-family: "Futura-PT", sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 20px;
}

.planet-table {
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;

  color: #fff;
  font-size: 36px;
}

#planet-form input,
#planet-form button {
  padding: 8px 12px;
  border: none;

  font-size: 14px;

  font-family: "Futura-PT", sans-serif;
  font-weight: 300;
}

#planet-form input {
  background-color: #0e1520;
  font-family: "Futura-pt", sans-serif;
  font-weight: 300;

  color: white;

  border: 1px solid #444e63;
}

#planet-form button {
  background-color: #6c9edc;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#planet-form button:hover {
  background-color: #111a26;
}

#planet-table {
  width: 100%;

  border-collapse: collapse;
  background-color: #000000;
  color: white;

  font-family: "Futura-pt", sans-serif;
  font-weight: 300;

  font-size: 14px;

  overflow: hidden;
}

#planet-table th,
#planet-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #111a26;
  text-align: left;
}

#planet-table th {
  background-color: #111a26;
  color: #ffffff;
  font-weight: 600;

  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

#planet-table td button {
  padding: 6px 10px;

  background-color: #6c9edc;
  border: none;

  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

#planet-table td button:hover {
  background-color: #111a26;
}

/* end planets */

/* 55cancri */
.cancri-hero {
  background: url("../media/cancri.jpeg") no-repeat center center/cover;
  height: 60vh;
  width: 100%;

  display: flex;

  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.cancri-hero h1 {
  color: white;
  font-size: 60px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  margin-top: 90px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.cancri-intro {
  color: white;
  font-family: "Futura-pt", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  margin-top: 10px;

  margin-bottom: -15px;
}

.cancri-intro p {
  font-family: "Futura-PT", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 15px;
  margin-bottom: 15px;
}

.intro-img-c {
  flex: 1;
  display: flex;
  justify-content: center;
}

.intro-img-c img {
  width: 100%;

  max-height: 480px;

  object-fit: cover;
}

.cancri-intro h1 {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
}

.create-planet h3 {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
}

.create-planet p {
  font-weight: 300;
  font-family: "Futura-PT", sans-serif;
  line-height: 1.6;
  color: #fff;
}

.create-planet {
  margin-bottom: 60px;
}

#exoplanet-form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 30px 0;
}

#exoplanet-form input {
  padding: 10px;
  flex: 1 1 200px;
  border: 1px solid #444e63;
  background-color: #0e1520;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  font-size: 14px;
}

#exoplanet-form button {
  padding: 10px 20px;
  background-color: #6c9edc;

  color: white;
  font-weight: 300;

  border: none;

  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  transition: background-color 0.3s ease;
}

#exoplanet-form button:hover {
  background-color: #111a26;
}

.planet-card .delete-btn {
  margin-top: 15px;

  padding: 6px 12px;
  background-color: #6c9edc;

  border: 1px solid #6c9edc;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-family: "Futura-PT", sans-serif;
  transition: all 0.3s ease;
}

.planet-card .delete-btn:hover {
  background-color: #111a26;
  color: white;
}

/* end 55 cancri  */
main {
  /* position: relative;
  top: 80px;
  left: 0; */
  /* margin: 20px; */
  color: var(--text-color);
  background-color: #000000;

  width: 100%;

  flex-direction: column;
  padding: 0 3em 3em 3em;
  min-height: 100vh;
}

main h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
}

main p {
  font-family: "Futura-PT", sans-serif;
  font-weight: 300;
}

/* Galaxies page styling */

.galaxies-hero {
  background: url("../media/galaxies.jpeg") no-repeat center center/cover;
  height: 60vh;
  width: 100%;

  display: flex;

  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.galaxies-hero h1 {
  color: white;
  font-size: 60px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;

  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.intro-galaxies h2 {
  color: white;
  font-size: 36px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;

  margin-bottom: 20px;
}

.intro-galaxies p,
.intro-galaxies ul {
  color: white;
  font-size: 18px;
  font-family: "Futura-PT", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 15px;
}

.intro-galaxies ul {
  padding-left: 20px;
}
.intro-galaxies ul li {
  margin-bottom: 10px;
}

.intro-universe {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.intro-desc {
  flex: 1;
}

.intro-desc h2 {
  color: white;

  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 36px;
}

.intro-desc p {
  color: white;

  font-family: "Futura-PT", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 15px;
  font-size: 18px;
}

.universe-img {
  width: 100%;
  height: 500px;
  flex: 1;
  display: flex;
  justify-content: center;
  background-image: url("../media/galaxies2.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.read-more {
  margin-left: 100px;
  padding: 0.825rem 2rem;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.read-more:hover {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.read-more a {
  text-decoration: none;
  color: var(--text-color);
}

.read-more a:hover {
  color: var(--accent-color);
}

/* End of galaxies edit */
/* Fun-fact page starts */
.fun-fact {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.fun-text {
  flex: 1;
}

.fun-text h2 {
  margin-top: 40px;
  color: white;
  font-size: 36px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
}

.fun-text ul {
  color: white;
  font-size: 18px;
  font-family: "Futura-PT", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 15px;
}

.fun-text ul {
  padding-left: 20px;
}
.fun-text ul li {
  margin-bottom: 10px;
}

.fun-img {
  flex: 1;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  background-image: url("../media/fun-galaxy.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#galaxy-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  font-family: "Futura-PT", sans-serif;
  font-weight: 300;
}

#galaxy-form input,
#galaxy-form textarea,
#galaxy-form button {
  padding: 8px 12px;
  border: none;
  font-size: 14px;
  font-family: "Futura-PT", sans-serif;
  font-weight: 300;
}

#galaxy-form input,
#galaxy-form textarea {
  background-color: #0e1520;
  color: white;
  border: 1px solid #444e63;
  flex: 1 1 100%;
}

#galaxy-form textarea {
  min-height: 80px;
  resize: vertical;
}

#galaxy-form button {
  background-color: #6c9edc;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#galaxy-form button:hover {
  background-color: #111a26;
}

.table-g {
  color: #fff;
  font-family: "Futura-PT", sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 20px;
}

.discovery-log {
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  color: #fff;
  font-size: 36px;
}

#galaxy-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #000000;
  color: white;
  font-family: "Futura-PT", sans-serif;
  font-weight: 300;
  font-size: 14px;
  overflow: hidden;
}

#galaxy-table th,
#galaxy-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #111a26;
  text-align: left;
}

#galaxy-table th {
  background-color: #111a26;
  color: #ffffff;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}

#galaxy-table td button {
  padding: 6px 10px;
  background-color: #6c9edc;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

#galaxy-table td button:hover {
  background-color: #111a26;
}

/* Fun-fact page ends */

/* Quiz Styles start*/
#quiz-section {
  margin-top: 40px;
}

#quiz-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Futura-PT", sans-serif;
  color: white;
  background-color: #0e1520;
  padding: 20px;
  border: 1px solid #444e63;
  border-radius: 8px;
  max-width: 1200px;
  margin: auto;
}

#quiz-form fieldset {
  border: none;
  padding: 0;
}

#quiz-form legend {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 10px;
}

#quiz-form label {
  margin-left: 10px;
  font-size: 14px;
  cursor: pointer;
}

#quiz-form button {
  padding: 10px 16px;
  width: 200px;
  background-color: #6c9edc;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-family: "Futura-PT", sans-serif;
  margin-top: 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#quiz-form button:hover {
  background-color: #111a26;
}

#quiz-result {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
}

#download-pdf-btn {
  display: block;
  margin: 20px auto 0;
  padding: 10px 16px;
  background-color: #444e63;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-family: "Futura-PT", sans-serif;
  border-radius: 4px;
}

#download-pdf-btn:hover {
  background-color: #6c9edc;
}

/* Stars Page Styling */

.starsMain img {
  width: 50%;
  height: auto;
}

.star-button {
  padding: 0.825rem 2rem;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.star-button:hover {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.star-button a {
  text-decoration: none;
  color: var(--text-color);
}

.star-button a:hover {
  color: var(--accent-color);
}

.stars-hero {
  background: url("../media/constellation-banner.png") no-repeat center
    center/cover;
  min-height: 60vh;
  width: 100%;

  display: flex;

  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  margin-bottom: 20px;

  color: white;
  margin-top: 80px;
}

.asterismsMain {
  margin-top: 80px;
}

.star-input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-family: "Futura-PT", sans-serif;
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  outline: none;

  margin-bottom: 20px;
  margin-right: 10px;
}

.star-input:active {
  outline: none;
  border: none;
}

.star-chart {
  margin-top: 40px;
}

#star-table {
  width: 100%;

  border-collapse: collapse;
  background-color: #000000;
  color: white;

  font-family: "Futura-pt", sans-serif;
  font-weight: 300;

  font-size: 14px;

  overflow: hidden;
}

#star-table th,
#star-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #111a26;
  text-align: left;
}

#star-table th {
  background-color: #111a26;
  color: #ffffff;
  font-weight: 600;

  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

/* Start of Moons Page style */
.moons-hero {
  background: linear-gradient(rgba(115, 212, 241, 0.39), rgba(0, 0, 0, 0.551)),
    url("../media/moon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;

  display: flex;

  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;

  h1 {
    color: white;
    font-size: 60px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 300;
  }
}

.moonsMain {
  h1 {
    color: white;
    font-size: 60px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 300;

    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  h2 {
    color: white;
    font-size: 36px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 300;

    margin-bottom: 20px;
  }

  p,
  ul {
    color: white;
    font-size: 18px;
    font-family: "Futura-PT", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 15px;
  }
}

.manyMoons {
  width: 100%;
  height: 500px;
  flex: 1;
  display: flex;
  justify-content: center;
  background-image: url("../media/many_moons.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.moonsList {
  width: 50%;
  margin: 25px 0px;
  .mLists {
    display: flex;
    padding-left: 15px;

    ul {
      margin-right: 70px;
      font-size: 20px;

      a {
        /* text-decoration: none; */
        color: white;
      }
    }
  }
}

#addComment {
  display: flex;
  flex-direction: column;

  textarea {
    width: 100%;
    background-color: black;
    color: white;
    border: none;
  }
}

.enceladus-hero {
  background: linear-gradient(
      rgba(118, 234, 255, 0.39),
      rgba(59, 59, 59, 0.092)
    ),
    url("../media/Enceladus_Plume.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;

  display: flex;

  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;

  h1 {
    color: white;
    font-size: 60px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 300;
  }
}
