<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="https://use.typekit.net/yaq6zll.css" />
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <div class="logo">Space</div>
        <a href="../">Home</a>
        <a href="../stars">Stars</a>
        <a href="../moons">Moons</a>
        <a href="../planets">Planets</a>
        <a href="../galaxies">Galaxies</a>
      </div>
    </nav>
    <main class="asterismsMain">
      <h1>Asterisms</h1>
      <h3>What are Asterisms?</h3>
      <p>
        An asterism is an observed pattern or group of stars in the sky.
        Asterisms can be any identified pattern or group of stars, and therefore
        are a more general concept than the 88 formally defined constellations.
        Constellations are based on asterisms, but unlike asterisms,
        constellations outline and completely divide the sky and all its
        celestial objects into regions around their central asterisms. For
        example, the asterism known as the Big Dipper or the Plough comprises
        the seven brightest stars in the constellation Ursa Major. Another
        asterism is the triangle, within the constellation of Capricornus.
      </p>
      <h3>Identify your own Asterisms:</h3>
      <form id="star-form">
        <input
          id="name"
          name="name"
          class="star-input"
          type="text"
          placeholder="Name"
        />
        <input
          id="description"
          name="description"
          class="star-input"
          type="text"
          placeholder="Description"
        />
        <button type="submit" class="star-button">Submit</button>
      </form>
      <table id="star-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <img class="star-chart" src="../media/star-chart.jpg" alt="Star Chart" />
    </main>
    <script src="../js/stars.js"></script>
  </body>
</html>
