<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="https://use.typekit.net/yaq6zll.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="../">Home</a></li>

        <li><a href="../stars/">Stars</a></li>
        <li><a href="../galaxies/">Galaxies</a></li>
        <li><a href="../moons/">Moons</a></li>
        <li><a href="./">Planets</a></li>
      </ul>
    </nav>
    <h1>Planets</h1>
  </body>
</html>
